.song__lyric {
  margin: 0;
  width: 87%;
}

.song__lyricс {
  margin: 0;
  width: 40%;
}

@media (max-width: 900px) {
  .song__lyric {
    width: 100%;
    min-width: 310px;
  }

  .song__lyricс {
    width: 100%;
    min-width: 310px;
  }
}